* {
    box-sizing: border-box;
}


html, body {
    height: 100%;
    margin: 0;
    background-color: #ECF5FE;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

textarea {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
h1, h2 {
    border-bottom: none !important;
}

.pull-right {
    float: right;
    &::after {
        content: '';
        clear: both;
    }
}
.proofreading-container, .proofreading {
    height: 100%;
    background-color: #ECF5FE;
}
.proofreading {
    // background-color: #111111;
    // overflow-y: hidden;
    padding: 5rem !important;
}

#back-btn, #save-btn {
    background-color: #333333 !important;
    color: white !important;
}

.speakers-box-container {
    position: relative;
    background-color: #111111;
    z-index: 2;
    // top: -3.2rem;
    // padding: 2rem !important;
    // padding-top: 3.2rem;
    // padding-bottom: 2rem;
    .speakers-box {
        // overflow-y: scroll;
        padding-top: 2rem;
        // border-right: 1px solid gray;
        // max-height: 250px;
        // height: 250px;
    }
}

.proofreading-video-player {
    .progress-container {

        position: absolute;
        bottom: 0;
        left: 0;
        .progress {
            width: 100%;
            margin: 0 !important;
            position: absolute;
            bottom: 0;
        }
        .progress .bar {
            background-color: #ff7171 !important;
        }
    }

    .controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        margin-top: 1rem;
        min-height: 4rem;
        #play-icon {
            color: white;
            cursor: pointer;
            box-shadow: 0 0 0 1px white inset !important;
        }
        #play-icon-inverted {
            color: black;
            cursor: pointer;
            box-shadow: 0 0 0 1px black inset !important;
        }
        .timing {
            font-size: 1.5rem;
            word-spacing: 1rem;
            .current {
                color: white;
            }
            .current.inverted {
                color: black;
            }
            .separator {
                display: inline-block;
                margin-left: 5px;
                margin-right: 5px;
            }
            .separator.inverted {
                color: black;
            }
            .end {
                color: gray;
            }
        }
    }
}